body{
    background-color: #EFEFEF;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
.head{
    position: fixed;
    width: 100%;
}
.head .headInner{
    padding: 20px;
}
.head  a{
    float: left;
    padding-top: 3px;
    padding-bottom: 3.4px;
}
.head  nav{
    float: right;
    padding-top: 4px;
    padding-bottom: 0.8px;
}
.head  nav  ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.head  nav  ul > li{
    float: left;
}
.head .logo span{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
}
.head .logo .rs{
    color: #E8676B;
}
.head .logo .card{
    color: #9A9DA2;
    margin-left: 4px;
    font-weight: bold;
}
.head  nav  ul > li > a{
    font-size: 14px;
    font-weight: bold;
    margin-left: 22px;
    margin-right: 22px;
    color: #858A90;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
}
.head  nav  ul > li > a:hover{
    border-top: 3px solid transparent;
    border-bottom: 3px solid #E8676B;
}
.banner{
    background: url("/img/rs-cover.jpg");
    height: 500px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    background-color: black;
    height: 500px;
    background-color: rgba(0,0,0,0.8);
}
.userCard{
    background-color: white;
    border: 1px soild red;
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
}
.userCard .card-top{
    padding-top: 50px;
    padding-bottom: 50px;
}
.userCard .card-top .welcome{
    background-color: #E6686A;
    padding:4px 15px;
    color: white;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    position: relative;
}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid #E6686A;
    width: 0px;
    height: 0px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 4px;
}
.userCard .card-top .card-left{
    float: left;
    padding-left: 50px;
}
.userCard .card-top .card-right{
    float: left;
    padding-left: 70px;
}
.userCard .card-top .card-right>h1{
    padding-top: 30px;
}
.userCard .card-top .card-right hr{
    width: 380px;
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
    margin: 25px 0;
}
.userCard  dl{
    display: block;
}
.userCard  dl dt,
.userCard dl dd{
    float: left;
    padding: 8px 0;
}
.userCard  dl dt{
    width: 30%;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    color: #9DA0A7;
}
.userCard footer{
    background-color: #E6686A;
    text-align: center;
}
.userCard footer a{ 
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    padding: 7px 0;
    margin: 15px;
}
.userCard footer a:hover{
    background-color: #CF5D5F;
}
.userCard footer svg{
    width: 26px;
    height: 26px;
    fill: white;
    vertical-align: top;
}